<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="/success">Dashboard</a>
        <a href="/logout"><button class="btn btn-outline-info">Logout</button></a>
    </div>
    <h1>{{ other_name[0]['first_name'] }}'s Thoughts</h1>
    {% for posts in other_name %}
    <p>{{ posts['content'] }}</p>
    <hr>
    {% endfor %}
</body>
</html>